<a href="https://colab.research.google.com/github/likithams09/NLP-/blob/main/NLP_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
data_out = pd.read_csv('/content/twitter4000.csv')

In [4]:
pattern = r'\w+@\w+.\w+'

In [5]:
data_out['email'] = data_out['twitts'].apply(lambda x: re.findall(pattern, x))
data_out['email'].sample(5)

2105    []
253     []
1584    []
2864    []
858     []
Name: email, dtype: object

In [6]:
import re
pattern = r'\s'
data_out['twitts'] = data_out['twitts'].apply(lambda x: re.sub(pattern, '', x))

In [7]:
pattern = r'\b[A-Za-z._+-]+@[A-Za-z.][A-Z|a-z]{2,}\b'
data_out['email'] = data_out['twitts'].apply(lambda x: re.findall(pattern, x))
data_out['email'].sample(5)

3655    []
3441    []
891     []
427     []
1282    []
Name: email, dtype: object

In [8]:
import re
data = data_out
pattern = r'\b[A-Za-z._+-]+@[A-Za-z.][A-Z|a-z]{2,}\b'
data['email'] = data['twitts'].apply(lambda x: re.findall(pattern, x))
data.head()

,twitts,sentiment,email
0,isboredandwantstowatchamovieanysuggestions?,0,[]
1,backinmiami.waitingtounboardship,0,[]
2,"@misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...",0,[]
3,ughhhiamsotiredblahhhhhhhhh,0,[]
4,@mandagoforthmebad!It'sfunnythough.ZacharyQuin...,0,[toreplyjustputthe@symbolbeforethename]

In [9]:
data['email']

0                                            []
1                                            []
2                                            []
3                                            []
4       [toreplyjustputthe@symbolbeforethename]
                         ...
3995                                         []
3996                                         []
3997                                         []
3998                                         []
3999                                         []
Name: email, Length: 4000, dtype: object

In [10]:
data['email'].value_counts

<bound method IndexOpsMixin.value_counts of 0                                            []
1                                            []
2                                            []
3                                            []
4       [toreplyjustputthe@symbolbeforethename]
                         ...
3995                                         []
3996                                         []
3997                                         []
3998                                         []
3999                                         []
Name: email, Length: 4000, dtype: object>

In [11]:
data

,twitts,sentiment,email
0,isboredandwantstowatchamovieanysuggestions?,0,[]
1,backinmiami.waitingtounboardship,0,[]
2,"@misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...",0,[]
3,ughhhiamsotiredblahhhhhhhhh,0,[]
4,@mandagoforthmebad!It'sfunnythough.ZacharyQuin...,0,[toreplyjustputthe@symbolbeforethename]
...,...,...,...
3995,ijustgraduated,1,[]
3996,Templatingworks;itallhastobedone,1,[]
3997,mommyjustbroughtmestarbucks,1,[]
3998,@omareppswatchingyouonaHousere-run...lovinit.,1,[]
3999,ThanksfortryingtomakemesmileI'llmakeyour18thsp...,1,[]

In [12]:
import re
pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
data['email'] = data['twitts'].apply(lambda x: ",".join(re.findall(pattern, x)))
data['email_count'] = data['twitts'].apply(lambda x: len(re.findall(pattern, x)))
data[['twitts', 'email', 'email_count']].head()

                                              twitts email  email_count
0        isboredandwantstowatchamovieanysuggestions?                  0
1                   backinmiami.waitingtounboardship                  0
2  @misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...                  0
3                        ughhhiamsotiredblahhhhhhhhh                  0
4  @mandagoforthmebad!It'sfunnythough.ZacharyQuin...                  0

In [13]:
url_pattern = r'http\S+|www\S+'
data['urls'] = data['twitts'].apply(lambda x: ",".join(re.findall(url_pattern, str(x))))
data['url_count'] = data['urls'].apply( lambda x: x.count(',') + 1 if x != '' else 0)
data

,twitts,sentiment,email,email_count,urls,url_count
0,isboredandwantstowatchamovieanysuggestions?,0,,0,,0
1,backinmiami.waitingtounboardship,0,,0,,0
2,"@misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...",0,,0,"wwwwdntdisbrngbakmemoriessss,IthnkI'msad.LoL",2
3,ughhhiamsotiredblahhhhhhhhh,0,,0,,0
4,@mandagoforthmebad!It'sfunnythough.ZacharyQuin...,0,,0,,0
...,...,...,...,...,...,...
3995,ijustgraduated,1,,0,,0
3996,Templatingworks;itallhastobedone,1,,0,,0
3997,mommyjustbroughtmestarbucks,1,,0,,0
3998,@omareppswatchingyouonaHousere-run...lovinit.,1,,0,,0
3999,ThanksfortryingtomakemesmileI'llmakeyour18thsp...,1,,0,,0